# Python for Data Analysis - Week 3
## Minor Assignment: Pandas Fundamentals II

**Due Date:** Wednesday, April 23, 2025

### Overview
In this assignment, you will practice the core Pandas concepts covered in today's lecture: indexing and selection, filtering data, and handling missing values. You'll work with a customer purchase dataset to clean, transform, and extract insights from the data.

### Learning Objectives
By completing this assignment, you will be able to:
- Use different methods for indexing and selecting data in Pandas
- Apply filtering operations to extract specific subsets of data
- Identify and handle missing values using various techniques
- Apply these techniques to solve real-world data cleaning challenges

### Dataset
You will be working with a customer purchase dataset (`customer_purchase_data.csv`) containing information about customers, their demographics, and their purchase transactions.

### Submission Guidelines
- Submit your completed notebook via the course portal
- Include your name and student ID in the notebook
- Ensure all code cells are executed and outputs are visible
- Add comments to explain your code and reasoning

Let's begin!

## Student Information

Name: Jesse Timothy  
Student ID: CHT4/24/IDA/147

## Setup

First, let's import the necessary libraries and load the dataset.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Set pandas display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)
pd.set_option('display.width', 1000)

# For plotting in the notebook
%matplotlib inline

In [4]:
# Load the dataset
from google.colab import files
uploaded = files.upload()
df = pd.read_csv('customer_purchase_data.csv')

# Display the first few rows
df.head()

Saving customer_purchase_data.csv to customer_purchase_data (2).csv

   CustomerID  Gender  Age  Income Occupation Education   Region MaritalStatus PurchaseDate ProductID           ProductName     Category  Subcategory    Price  Quantity PaymentMethod
0        1001    Male   34   72000   Engineer  Bachelor     East       Married   2024-03-05      P001       Laptop HP Elite  Electronics    Computers  1200.50       1.0   Credit Card
1        1001    Male   34   72000   Engineer  Bachelor     East       Married   2024-02-15      P045   External Hard Drive  Electronics  Accessories    89.99       2.0   Credit Card
2        1002  Female   28   65000    Teacher    Master     West        Single   2024-03-10      P012              Yoga Mat       Sports      Fitness    35.50       1.0        PayPal
3        1003  Female   45   95000     Doctor       PhD  Central       Married   2024-03-07      P023          Coffee Maker         Home      Kitchen   149.99       NaN    Debit Card
4        1003  Female   45   95000     Doctor       PhD  Central       Married   2024-03-15      P056  Professional Blender         Home      Kitchen   299.95       1.0   Credit Card

## Part 1: Exploring the Dataset (10 points)

Before we dive into the main tasks, let's first explore the dataset to understand its structure and content.

### 1.1 Dataset Information

Examine the basic information about the dataset by answering the following questions:

1. How many rows and columns does the dataset have?
2. What are the column names and their data types?
3. Are there any missing values in the dataset? If so, in which columns?

In [5]:
# Check the shape of the dataset
print("Rows and Columns:", df.shape)

Rows and Columns: (57, 16)

In [6]:
# Display information about the dataset
print("\nColumn Names and Data Types:")
print(df.dtypes)

Column Names and Data Types:
CustomerID         int64
Gender            object
Age                int64
Income             int64
Occupation        object
Education         object
Region            object
MaritalStatus     object
PurchaseDate      object
ProductID         object
ProductName       object
Category          object
Subcategory       object
Price            float64
Quantity         float64
PaymentMethod     object
dtype: object

In [7]:
# Check for missing values
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
CustomerID       0
Gender           0
Age              0
Income           0
Occupation       0
Education        0
Region           0
MaritalStatus    0
PurchaseDate     0
ProductID        0
ProductName      0
Category         0
Subcategory      0
Price            0
Quantity         2
PaymentMethod    0
dtype: int64

## Part 2: Indexing and Selection (30 points)

In this section, you will practice various methods for selecting and indexing data in Pandas.

### 2.1 Basic Indexing

Use different indexing methods to extract the following from the dataset:

1. Select the 'CustomerID', 'Age', 'Income', and 'Region' columns using bracket notation
2. Select the same columns using dot notation
3. Select rows 10 through 20 (inclusive) using iloc
4. Select the first 5 customers who made purchases in the 'Electronics' category using loc

In [9]:
# 1. Select columns using bracket notation
bracket_selection = df[['CustomerID', 'Age', 'Income', 'Region']]
print("Bracket Notation Selection:\n", bracket_selection.head())

Bracket Notation Selection:
    CustomerID  Age  Income   Region
0        1001   34   72000     East
1        1001   34   72000     East
2        1002   28   65000     West
3        1003   45   95000  Central
4        1003   45   95000  Central

In [8]:
# 2. Select columns using dot notation
dot_selection = df[['CustomerID', 'Age', 'Income', 'Region']]  # Dot notation not applicable for multi-column; fallback to bracket
print("\nDot Notation Selection (using bracket as fallback):\n", dot_selection.head())

Dot Notation Selection (using bracket as fallback):
    CustomerID  Age  Income   Region
0        1001   34   72000     East
1        1001   34   72000     East
2        1002   28   65000     West
3        1003   45   95000  Central
4        1003   45   95000  Central

In [10]:
# 3. Select rows 10 through 20 using iloc
iloc_selection = df.iloc[10:21]  # iloc uses 0-based indexing, 10:21 includes rows 10 to 20
print("\nRows 10 through 20 (iloc):\n", iloc_selection)

Rows 10 through 20 (iloc):
     CustomerID  Gender  Age  Income  Occupation Education   Region MaritalStatus PurchaseDate ProductID           ProductName     Category  Subcategory    Price  Quantity     PaymentMethod
10        1007  Female   31   67000     Analyst  Bachelor    North        Single   2024-03-09      P067         Running Shoes       Sports     Footwear   120.50       1.0        Debit Card
11        1008    Male   26   55000    Designer  Bachelor     East        Single   2024-03-11      P078           Smart Watch  Electronics    Wearables   249.99       1.0       Credit Card
12        1009  Female   48  110000    Director    Master    South       Married   2024-03-06      P089          Dining Table    Furniture       Dining   899.99       1.0     Bank Transfer
13        1010    Male   33   78000   Developer    Master     West       Married   2024-03-08      P090          Office Chair    Furniture       Office   349.50       2.0       Credit Card
14        1011  Female   29   59000       Nurse  Bachelor  Central        Single   2024-02-25      P101         First Aid Kit       Health    Emergency    45.99       1.0        Debit Card
15        1012    Male   41   92000  Consultant       PhD     East       Married   2024-03-13      P112       Business Laptop  Electronics    Computers  1599.99       1.0       Credit Card
16        1012    Male   41   92000  Consultant       PhD     East       Married   2024-01-15      P089          Dining Table    Furniture       Dining   899.99       1.0     Bank Transfer
17        1013  Female   36   81000  Pharmacist    Master    North      Divorced   2024-03-04      P123  Prescription Glasses       Health       Vision   199.50       1.0  Health Insurance
18        1014    Male   23   48000  Accountant  Bachelor     West        Single   2024-03-01      P134          Tax Software     Software      Finance    79.99       1.0            PayPal
19        1015  Female   37   76000   Marketing    Master    South       Married   2024-02-22      P145        Digital Camera  Electronics  Photography   699.95       1.0       Credit Card
20        1016    Male   44  105000   Executive       MBA     East       Married   2024-03-03      P156     Executive Pen Set       Office   Stationery   125.00       1.0       Credit Card

In [11]:
# 4. Select the first 5 customers who made purchases in the 'Electronics' category
loc_selection = df.loc[df['Category'] == 'Electronics'].head(5)
print("\nFirst 5 Electronics Purchases (loc):\n", loc_selection)

First 5 Electronics Purchases (loc):
    CustomerID  Gender  Age  Income Occupation    Education   Region MaritalStatus PurchaseDate ProductID          ProductName     Category  Subcategory    Price  Quantity PaymentMethod
0        1001    Male   34   72000   Engineer     Bachelor     East       Married   2024-03-05      P001      Laptop HP Elite  Electronics    Computers  1200.50       1.0   Credit Card
1        1001    Male   34   72000   Engineer     Bachelor     East       Married   2024-02-15      P045  External Hard Drive  Electronics  Accessories    89.99       2.0   Credit Card
5        1003  Female   45   95000     Doctor          PhD  Central       Married   2024-01-22      P078          Smart Watch  Electronics    Wearables   249.99       1.0    Debit Card
7        1005  Female   21   35000    Student  High School     West        Single   2024-02-28      P045  External Hard Drive  Electronics  Accessories    89.99       1.0        PayPal
8        1005  Female   21   35000    Student  High School     West        Single   2024-03-14      P098     Wireless Earbuds  Electronics        Audio   129.95       1.0        PayPal

### 2.2 Advanced Indexing

Now, let's explore more advanced indexing techniques:

1. Set the 'CustomerID' column as the index of the DataFrame
2. Select all purchase information for customer with ID 1003 using the index
3. Multi-level indexing: Create a MultiIndex using 'Region' and 'Category' as index levels
4. Select all purchases in the 'East' region for the 'Electronics' category using the MultiIndex

In [12]:
# 1. Set 'CustomerID' as the index
df_customer_index = df.set_index('CustomerID')
print("DataFrame with CustomerID as Index:\n", df_customer_index.head())

DataFrame with CustomerID as Index:
             Gender  Age  Income Occupation Education   Region MaritalStatus PurchaseDate ProductID           ProductName     Category  Subcategory    Price  Quantity PaymentMethod
CustomerID
1001          Male   34   72000   Engineer  Bachelor     East       Married   2024-03-05      P001       Laptop HP Elite  Electronics    Computers  1200.50       1.0   Credit Card
1001          Male   34   72000   Engineer  Bachelor     East       Married   2024-02-15      P045   External Hard Drive  Electronics  Accessories    89.99       2.0   Credit Card
1002        Female   28   65000    Teacher    Master     West        Single   2024-03-10      P012              Yoga Mat       Sports      Fitness    35.50       1.0        PayPal
1003        Female   45   95000     Doctor       PhD  Central       Married   2024-03-07      P023          Coffee Maker         Home      Kitchen   149.99       NaN    Debit Card
1003        Female   45   95000     Doctor       PhD  Central       Married   2024-03-15      P056  Professional Blender         Home      Kitchen   299.95       1.0   Credit Card

In [13]:
# 2. Select all purchase information for customer 1003
customer_1003 = df_customer_index.loc[1003]
print("\nPurchases for CustomerID 1003:\n", customer_1003)

Purchases for CustomerID 1003:
             Gender  Age  Income Occupation Education   Region MaritalStatus PurchaseDate ProductID           ProductName     Category Subcategory   Price  Quantity PaymentMethod
CustomerID
1003        Female   45   95000     Doctor       PhD  Central       Married   2024-03-07      P023          Coffee Maker         Home     Kitchen  149.99       NaN    Debit Card
1003        Female   45   95000     Doctor       PhD  Central       Married   2024-03-15      P056  Professional Blender         Home     Kitchen  299.95       1.0   Credit Card
1003        Female   45   95000     Doctor       PhD  Central       Married   2024-01-22      P078           Smart Watch  Electronics   Wearables  249.99       1.0    Debit Card

In [14]:
# 3. Create a MultiIndex using 'Region' and 'Category'
df_multi_index = df.set_index(['Region', 'Category'])
print("\nDataFrame with Region and Category MultiIndex:\n", df_multi_index.head())

DataFrame with Region and Category MultiIndex:
                      CustomerID  Gender  Age  Income Occupation Education MaritalStatus PurchaseDate ProductID           ProductName  Subcategory    Price  Quantity PaymentMethod
Region  Category
East    Electronics        1001    Male   34   72000   Engineer  Bachelor       Married   2024-03-05      P001       Laptop HP Elite    Computers  1200.50       1.0   Credit Card
        Electronics        1001    Male   34   72000   Engineer  Bachelor       Married   2024-02-15      P045   External Hard Drive  Accessories    89.99       2.0   Credit Card
West    Sports             1002  Female   28   65000    Teacher    Master        Single   2024-03-10      P012              Yoga Mat      Fitness    35.50       1.0        PayPal
Central Home               1003  Female   45   95000     Doctor       PhD       Married   2024-03-07      P023          Coffee Maker      Kitchen   149.99       NaN    Debit Card
        Home               1003  Female   45   95000     Doctor       PhD       Married   2024-03-15      P056  Professional Blender      Kitchen   299.95       1.0   Credit Card

In [15]:
# 4. Select all purchases in the 'East' region for the 'Electronics' category
east_electronics = df_multi_index.loc[('East', 'Electronics')]
print("\nEast Region, Electronics Category Purchases:\n", east_electronics)

East Region, Electronics Category Purchases:
                     CustomerID  Gender  Age  Income        Occupation  Education MaritalStatus PurchaseDate ProductID          ProductName  Subcategory    Price  Quantity PaymentMethod
Region Category
East   Electronics        1001    Male   34   72000          Engineer   Bachelor       Married   2024-03-05      P001      Laptop HP Elite    Computers  1200.50       1.0   Credit Card
       Electronics        1001    Male   34   72000          Engineer   Bachelor       Married   2024-02-15      P045  External Hard Drive  Accessories    89.99       2.0   Credit Card
       Electronics        1008    Male   26   55000          Designer   Bachelor        Single   2024-03-11      P078          Smart Watch    Wearables   249.99       1.0   Credit Card
       Electronics        1012    Male   41   92000        Consultant        PhD       Married   2024-03-13      P112      Business Laptop    Computers  1599.99       1.0   Credit Card
       Electronics        1019  Female   32   69000        HR Manager     Master       Married   2024-02-17      P190   Ergonomic Keyboard  Accessories   129.99       1.0   Credit Card
       Electronics        1025  Female   25   52000  Graphic Designer   Bachelor        Single   2024-03-19      P256       Drawing Tablet       Design   299.00       1.0        PayPal
       Electronics        1040    Male   24   51000  Customer Service  Associate        Single   2024-03-01      P412              Headset        Audio   129.00       1.0    Debit Card

<ipython-input-15-6c36f1c8f8f7>:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  east_electronics = df_multi_index.loc[('East', 'Electronics')]

### 2.3 Practical Application: Creating Customer Profiles

Now, use your indexing skills to create a customer profile DataFrame that contains the following information for each unique customer:
- CustomerID
- Gender
- Age
- Income
- Education
- Region
- MaritalStatus

Hint: You'll need to remove duplicate customer entries since the same customer may have made multiple purchases.

In [16]:
# Create customer profile DataFrame
# Create customer profile DataFrame by selecting specified columns and removing duplicates
customer_profile = df[['CustomerID', 'Gender', 'Age', 'Income', 'Education', 'Region', 'MaritalStatus']].drop_duplicates()

# Set CustomerID as the index (optional, for cleaner profile view)
customer_profile = customer_profile.set_index('CustomerID')

# Display the customer profile DataFrame
print("Customer Profile DataFrame:\n", customer_profile)

Customer Profile DataFrame:
             Gender  Age  Income        Education   Region MaritalStatus
CustomerID
1001          Male   34   72000         Bachelor     East       Married
1002        Female   28   65000           Master     West        Single
1003        Female   45   95000              PhD  Central       Married
1004          Male   52  120000           Master     East      Divorced
1005        Female   21   35000      High School     West        Single
1006          Male   39   85000         Bachelor  Central       Married
1007        Female   31   67000         Bachelor    North        Single
1008          Male   26   55000         Bachelor     East        Single
1009        Female   48  110000           Master    South       Married
1010          Male   33   78000           Master     West       Married
1011        Female   29   59000         Bachelor  Central        Single
1012          Male   41   92000              PhD     East       Married
1013        Female   36   81000           Master    North      Divorced
1014          Male   23   48000         Bachelor     West        Single
1015        Female   37   76000           Master    South       Married
1016          Male   44  105000              MBA     East       Married
1017        Female   27   63000         Bachelor  Central        Single
1018          Male   50  115000              PhD    North       Married
1019        Female   32   69000           Master     East       Married
1020          Male   35   79000           Master    South        Single
1021        Female   42   97000        Doctorate     West      Divorced
1022          Male   30   71000         Bachelor    North        Single
1023        Female   49  125000              MBA  Central       Married
1024          Male   38   83000         Bachelor    South       Married
1025        Female   25   52000         Bachelor     East        Single
1026          Male   43   99000        Doctorate     West       Married
1027        Female   34   77000           Master  Central        Single
1028          Male   31   68000  Culinary School    South       Married
1029        Female   46  105000              PhD    North      Divorced
1030          Male   29   64000         Bachelor     East        Single
1031        Female   39   88000               JD     West       Married
1032          Male   22   42000        Associate  Central        Single
1033        Female   51  130000               MD    North       Married
1034          Male   40   91000           Master     East      Divorced
1035        Female   33   74000         Bachelor    South       Married
1036          Male   47  108000         Bachelor     West       Married
1037        Female   30   65000              PhD  Central        Single
1038          Male   36   80000           Master    North       Married
1039        Female   41   93000         Bachelor    South        Single
1040          Male   24   51000        Associate     East        Single
1041        Female   44  102000              MBA     West       Married
1042          Male   37   82000           Master  Central       Married
1043        Female   26   56000        Doctorate    North        Single
1044          Male   53  135000              MBA    South       Married
1045        Female   35   79000              PhD     East      Divorced
1046          Male   32   70000           Master  Central        Single
1047        Female   48  112000           Master     West       Married
1048          Male   27   59000         Bachelor    South        Single
1049        Female   38   84000           Master    North       Married
1050          Male   42   95000         Bachelor     East       Married

## Part 3: Filtering Data (30 points)

In this section, you will practice applying filters to extract specific subsets of data.

### 3.1 Basic Filtering

Apply filters to find the following information:

1. Customers who are younger than 30 years old
2. Purchases made in the 'Electronics' category with a price greater than $500
3. Female customers who have made purchases in the 'Books' category
4. Customers from the 'West' region who are married

In [85]:
# Reset index if needed
if df.index.name == 'CustomerID':
    df = df.reset_index()

# 1. Customers younger than 30
young_customers = df[df['Age'] < 30][['CustomerID', 'Gender', 'Age', 'Income', 'Education', 'Region', 'MaritalStatus']].drop_duplicates()
print("Customers younger than 30:\n", young_customers)

Customers younger than 30:
     CustomerID  Gender  Age  Income    Education   Region MaritalStatus
2         1002  Female   28   65000       Master     West        Single
7         1005  Female   21   35000  High School     West        Single
11        1008    Male   26   55000     Bachelor     East        Single
14        1011  Female   29   59000     Bachelor  Central        Single
18        1014    Male   23   48000     Bachelor     West        Single
22        1017  Female   27   63000     Bachelor  Central        Single
30        1025  Female   25   52000     Bachelor     East        Single
35        1030    Male   29   64000     Bachelor     East        Single
38        1032    Male   22   42000    Associate  Central        Single
46        1040    Male   24   51000    Associate     East        Single
49        1043  Female   26   56000    Doctorate    North        Single
54        1048    Male   27   59000     Bachelor    South        Single

In [18]:
# 2. Electronics purchases with price > $500
electronics_expensive = df[(df['Category'] == 'Electronics') & (df['Price'] > 500)]
print("\nElectronics purchases over $500:\n", electronics_expensive)

Electronics purchases over $500:
     CustomerID  Gender  Age  Income               Occupation  Education   Region MaritalStatus PurchaseDate ProductID      ProductName     Category  Subcategory    Price  Quantity PaymentMethod
0         1001    Male   34   72000                 Engineer   Bachelor     East       Married   2024-03-05      P001  Laptop HP Elite  Electronics    Computers  1200.50       1.0   Credit Card
15        1012    Male   41   92000               Consultant        PhD     East       Married   2024-03-13      P112  Business Laptop  Electronics    Computers  1599.99       1.0   Credit Card
19        1015  Female   37   76000                Marketing     Master    South       Married   2024-02-22      P145   Digital Camera  Electronics  Photography   699.95       1.0   Credit Card
38        1032    Male   22   42000  Social Media Specialist  Associate  Central        Single   2024-02-20      P334       Smartphone  Electronics       Mobile   899.00       1.0   Credit Card

In [19]:
# 3. Female customers who purchased books
female_books = df[(df['Gender'] == 'Female') & (df['Category'] == 'Books')][['CustomerID', 'Gender', 'Age', 'Income', 'Education', 'Region', 'MaritalStatus', 'ProductName', 'Price']].drop_duplicates()
print("\nFemale customers purchasing Books:\n", female_books)

Female customers purchasing Books:
     CustomerID  Gender  Age  Income Education Region MaritalStatus               ProductName  Price
34        1029  Female   46  105000       PhD  North      Divorced          Psychology Books  175.0
37        1031  Female   39   88000        JD   West       Married     Legal Reference Books  220.0
47        1041  Female   44  102000       MBA   West       Married  Marketing Strategy Books  110.0
53        1047  Female   48  112000    Master   West       Married       HR Management Books  120.0
55        1049  Female   38   84000    Master  North       Married           Nutrition Books   95.0

In [20]:
# 4. Married customers from West region
west_married = df[(df['Region'] == 'West') & (df['MaritalStatus'] == 'Married')][['CustomerID', 'Gender', 'Age', 'Income', 'Education', 'Region', 'MaritalStatus']].drop_duplicates()
print("\nMarried customers from West region:\n", west_married)

Married customers from West region:
     CustomerID  Gender  Age  Income  Education Region MaritalStatus
13        1010    Male   33   78000     Master   West       Married
31        1026    Male   43   99000  Doctorate   West       Married
37        1031  Female   39   88000         JD   West       Married
42        1036    Male   47  108000   Bachelor   West       Married
47        1041  Female   44  102000        MBA   West       Married
53        1047  Female   48  112000     Master   West       Married

### 3.2 Advanced Filtering

Now let's apply more complex filtering conditions:

1. Find high-value customers (Income > $90,000) who have made purchases in the 'Furniture' or 'Electronics' categories
2. Find customers who made purchases in January 2024 (hint: extract month and year from the PurchaseDate)
3. Find customers who have made multiple purchases (more than one transaction)
4. Find the top 5 most expensive products purchased using 'Credit Card' as the payment method

In [21]:
# 1. High-value customers who purchased Furniture or Electronics
high_value_customers = df[(df['Income'] > 90000) & (df['Category'].isin(['Furniture', 'Electronics']))][['CustomerID', 'Gender', 'Age', 'Income', 'Education', 'Region', 'MaritalStatus', 'Category']].drop_duplicates()
print("High-value customers (Income > $90,000) in Furniture or Electronics:\n", high_value_customers)

High-value customers (Income > $90,000) in Furniture or Electronics:
     CustomerID  Gender  Age  Income Education   Region MaritalStatus     Category
5         1003  Female   45   95000       PhD  Central       Married  Electronics
12        1009  Female   48  110000    Master    South       Married    Furniture
15        1012    Male   41   92000       PhD     East       Married  Electronics
16        1012    Male   41   92000       PhD     East       Married    Furniture
50        1044    Male   53  135000       MBA    South       Married    Furniture

In [22]:
# Convert PurchaseDate to datetime if not already
if not pd.api.types.is_datetime64_dtype(df['PurchaseDate']):
    df['PurchaseDate'] = pd.to_datetime(df['PurchaseDate'])

# 2. Customers who made purchases in January 2024
jan_2024_purchases = df[(df['PurchaseDate'].dt.year == 2024) & (df['PurchaseDate'].dt.month == 1)][['CustomerID', 'Gender', 'Age', 'Income', 'Education', 'Region', 'MaritalStatus', 'PurchaseDate', 'ProductName']].drop_duplicates()
print("\nPurchases in January 2024:\n", jan_2024_purchases)

Purchases in January 2024:
     CustomerID  Gender  Age  Income Education   Region MaritalStatus PurchaseDate     ProductName
5         1003  Female   45   95000       PhD  Central       Married   2024-01-22     Smart Watch
16        1012    Male   41   92000       PhD     East       Married   2024-01-15    Dining Table
36        1030    Male   29   64000  Bachelor     East        Single   2024-01-25  Protein Powder

In [23]:
# 3. Customers with multiple purchases
purchase_counts = df['CustomerID'].value_counts()
multiple_purchases = df[df['CustomerID'].isin(purchase_counts[purchase_counts > 1].index)][['CustomerID', 'Gender', 'Age', 'Income', 'Education', 'Region', 'MaritalStatus']].drop_duplicates()
print("\nCustomers with multiple purchases:\n", multiple_purchases)

Customers with multiple purchases:
     CustomerID  Gender  Age  Income    Education   Region MaritalStatus
0         1001    Male   34   72000     Bachelor     East       Married
3         1003  Female   45   95000          PhD  Central       Married
7         1005  Female   21   35000  High School     West        Single
15        1012    Male   41   92000          PhD     East       Married
20        1016    Male   44  105000          MBA     East       Married
35        1030    Male   29   64000     Bachelor     East        Single

In [24]:
# 4. Top 5 most expensive products purchased with Credit Card
top_expensive_credit = df[df['PaymentMethod'] == 'Credit Card'][['ProductName', 'Price', 'CustomerID', 'PurchaseDate']].nlargest(5, 'Price')
print("\nTop 5 most expensive products purchased with Credit Card:\n", top_expensive_credit)

Top 5 most expensive products purchased with Credit Card:
         ProductName    Price  CustomerID PurchaseDate
15  Business Laptop  1599.99        1012   2024-03-13
0   Laptop HP Elite  1200.50        1001   2024-03-05
51    Lab Equipment   975.00        1045   2024-03-12
38       Smartphone   899.00        1032   2024-02-20
19   Digital Camera   699.95        1015   2024-02-22

### 3.3 Practical Application: Customer Segmentation

Use filtering to segment customers based on the following criteria:

1. Create a 'CustomerValue' column that categorizes customers as follows:
   - 'High': Income > $90,000
   - 'Medium': Income between $60,000 and $90,000
   - 'Low': Income < $60,000
   
2. Create a 'AgeGroup' column that categorizes customers as follows:
   - 'Young': Age < 30
   - 'Middle-aged': Age between 30 and 45
   - 'Senior': Age > 45
   
3. Create a 'PurchaseFrequency' column that categorizes customers as follows:
   - 'Frequent': More than 2 purchases
   - 'Occasional': 1-2 purchases

4. Create a cross-tabulation of CustomerValue and AgeGroup to see the distribution of customers

In [83]:
# Create customer profile DataFrame if not already created
if 'customer_profiles' not in locals():
    customer_profiles = df[['CustomerID', 'Gender', 'Age', 'Income', 'Education', 'Region', 'MaritalStatus']].drop_duplicates(subset=['CustomerID'])

# 1. Create CustomerValue column
customer_profiles['CustomerValue'] = pd.cut(
    customer_profiles['Income'],
    bins=[0, 60000, 90000, float('inf')],
    labels=['Low', 'Medium', 'High'],
    include_lowest=True
)

In [82]:
# 2. Create AgeGroup column
df['AgeGroup'] = pd.cut(
df['Age'],
        bins=[-float('inf'), 30, 45, float('inf')],
        labels=['Young', 'Middle-aged', 'Senior'],
        include_lowest=True
)

In [39]:
# 3. Create PurchaseFrequency column
purchase_counts = df['CustomerID'].value_counts()
df['PurchaseFrequency'] = df['CustomerID'].map(
    lambda x: 'Frequent' if purchase_counts[x] > 2 else 'Occasional'
)

In [40]:
# 4. Create cross-tabulation
cross_tab = pd.crosstab(df[['CustomerID', 'CustomerValue', 'AgeGroup']].drop_duplicates()['CustomerValue'],
                        df[['CustomerID', 'CustomerValue', 'AgeGroup']].drop_duplicates()['AgeGroup'])
print("Cross-tabulation of CustomerValue and AgeGroup:\n", cross_tab)

Cross-tabulation of CustomerValue and AgeGroup:
 AgeGroup       Young  Middle-aged  Senior
CustomerValue
Low                9            0       0
Medium             5           18       0
High               0            9       9

## Part 4: Handling Missing Values (30 points)

In this section, you will identify and handle missing values in the dataset.

### 4.1 Identifying Missing Values

Let's first identify all missing values in the dataset:

1. Calculate the number of missing values in each column
2. Calculate the percentage of missing values in each column
3. Create a visualization to illustrate the missing values pattern

In [41]:
# 1. Count missing values in each column
missing_values_count = df.isnull().sum()
print("Missing Values Count:\n", missing_values_count)

Missing Values Count:
 CustomerID           0
Gender               0
Age                  0
Income               0
Occupation           0
Education            0
Region               0
MaritalStatus        0
PurchaseDate         0
ProductID            0
ProductName          0
Category             0
Subcategory          0
Price                0
Quantity             2
PaymentMethod        0
CustomerValue        0
AgeGroup             0
PurchaseFrequency    0
dtype: int64

In [42]:
# 2. Calculate percentage of missing values
missing_values_percentage = (missing_values_count / len(df)) * 100
print("\nMissing Values Percentage:\n", missing_values_percentage)

Missing Values Percentage:
 CustomerID           0.000000
Gender               0.000000
Age                  0.000000
Income               0.000000
Occupation           0.000000
Education            0.000000
Region               0.000000
MaritalStatus        0.000000
PurchaseDate         0.000000
ProductID            0.000000
ProductName          0.000000
Category             0.000000
Subcategory          0.000000
Price                0.000000
Quantity             3.508772
PaymentMethod        0.000000
CustomerValue        0.000000
AgeGroup             0.000000
PurchaseFrequency    0.000000
dtype: float64

In [47]:
# 3. Visualize missing values
# Create a heatmap of missing values
!pip install missingno

Requirement already satisfied: missingno in /usr/local/lib/python3.11/dist-packages (0.5.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from missingno) (2.0.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (from missingno) (3.10.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.11/dist-packages (from missingno) (1.15.3)
Requirement already satisfied: seaborn in /usr/local/lib/python3.11/dist-packages (from missingno) (0.13.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->missingno) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib->missingno) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->missingno) (4.58.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->missingno) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->missingno) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib->missingno) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->missingno) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.11/dist-packages (from matplotlib->missingno) (2.9.0.post0)
Requirement already satisfied: pandas>=1.2 in /usr/local/lib/python3.11/dist-packages (from seaborn->missingno) (2.2.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2->seaborn->missingno) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2->seaborn->missingno) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.7->matplotlib->missingno) (1.17.0)

### 4.2 Handling Missing Values

Now, let's apply different techniques to handle missing values:

1. Create a new DataFrame with rows that have missing values
2. Create a new DataFrame with rows that have no missing values
3. Fill missing Quantity values with the median quantity for that product category
4. Fill missing Price values with the mean price for that product category

In [48]:
# 1. Rows with missing values
rows_with_missing = df[df.isnull().any(axis=1)]
print("Rows with missing values:\n", rows_with_missing)

Rows with missing values:
    CustomerID  Gender  Age  Income Occupation Education   Region MaritalStatus PurchaseDate ProductID           ProductName Category Subcategory   Price  Quantity PaymentMethod CustomerValue     AgeGroup PurchaseFrequency
3        1003  Female   45   95000     Doctor       PhD  Central       Married   2024-03-07      P023          Coffee Maker     Home     Kitchen  149.99       NaN    Debit Card          High  Middle-aged          Frequent
9        1006    Male   39   85000    Manager  Bachelor  Central       Married   2024-03-02      P056  Professional Blender     Home     Kitchen  299.95       NaN   Credit Card        Medium  Middle-aged        Occasional

In [49]:
# 2. Rows with no missing values
rows_without_missing = df.dropna()
print("\nRows with no missing values:\n", rows_without_missing)

Rows with no missing values:
     CustomerID  Gender  Age  Income                Occupation Education   Region MaritalStatus PurchaseDate ProductID             ProductName     Category   Subcategory    Price  Quantity  PaymentMethod CustomerValue     AgeGroup PurchaseFrequency
0         1001    Male   34   72000                  Engineer  Bachelor     East       Married   2024-03-05      P001         Laptop HP Elite  Electronics     Computers  1200.50       1.0    Credit Card        Medium  Middle-aged        Occasional
1         1001    Male   34   72000                  Engineer  Bachelor     East       Married   2024-02-15      P045     External Hard Drive  Electronics   Accessories    89.99       2.0    Credit Card        Medium  Middle-aged        Occasional
2         1002  Female   28   65000                   Teacher    Master     West        Single   2024-03-10      P012                Yoga Mat       Sports       Fitness    35.50       1.0         PayPal        Medium        Young        Occasional
4         1003  Female   45   95000                    Doctor       PhD  Central       Married   2024-03-15      P056    Professional Blender         Home       Kitchen   299.95       1.0    Credit Card          High  Middle-aged          Frequent
5         1003  Female   45   95000                    Doctor       PhD  Central       Married   2024-01-22      P078             Smart Watch  Electronics     Wearables   249.99       1.0     Debit Card          High  Middle-aged          Frequent
..         ...     ...  ...     ...                       ...       ...      ...           ...          ...       ...                     ...          ...           ...      ...       ...            ...           ...          ...               ...
52        1046    Male   32   70000            Civil Engineer    Master  Central        Single   2024-03-03      P478    Engineering Software     Software  Professional  1200.00       1.0  Bank Transfer        Medium  Middle-aged        Occasional
53        1047  Female   48  112000  Human Resources Director    Master     West       Married   2024-02-25      P489     HR Management Books        Books  Professional   120.00       2.0    Credit Card          High       Senior        Occasional
54        1048    Male   27   59000             Web Developer  Bachelor    South        Single   2024-03-17      P490  Web Development Course     Services     Education   349.00       1.0         PayPal           Low        Young        Occasional
55        1049  Female   38   84000              Nutritionist    Master    North       Married   2024-03-10      P501         Nutrition Books        Books        Health    95.00       2.0     Debit Card        Medium  Middle-aged        Occasional
56        1050    Male   42   95000             Sales Manager  Bachelor     East       Married   2024-02-28      P512            CRM Software     Software      Business   399.00       1.0    Credit Card          High  Middle-aged        Occasional

[55 rows x 19 columns]

In [52]:
# 3. Fill missing Quantity with median by category
df['Quantity'] = df.groupby('Category')['Quantity'].transform(lambda x: x.fillna(x.median()))
print("\nDataFrame after Filling Missing Quantity with Category Median:\n", df[['CustomerID', 'Category', 'Quantity']].head())

DataFrame after Filling Missing Quantity with Category Median:
    CustomerID     Category  Quantity
0        1001  Electronics       1.0
1        1001  Electronics       2.0
2        1002       Sports       1.0
3        1003         Home       1.0
4        1003         Home       1.0

In [53]:
# 4. Fill missing Price with mean by category
df['Price'] = df.groupby('Category')['Price'].transform(lambda x: x.fillna(x.mean()))
print("\nDataFrame after Filling Missing Price with Category Mean:\n", df[['CustomerID', 'Category', 'Price']].head())

DataFrame after Filling Missing Price with Category Mean:
    CustomerID     Category    Price
0        1001  Electronics  1200.50
1        1001  Electronics    89.99
2        1002       Sports    35.50
3        1003         Home   149.99
4        1003         Home   299.95

### 4.3 Practical Application: Creating a Clean Dataset

Create a clean version of the dataset by applying the following steps:

1. Fill missing Quantity values with the median quantity for that product category
2. Fill missing Price values with the mean price for that product category
3. Create a 'TotalAmount' column that multiplies Price by Quantity
4. Convert PurchaseDate to datetime format if not already
5. Create a 'PurchaseMonth' and 'PurchaseYear' column
6. Create a 'CustomerSpend' DataFrame that shows the total amount spent by each customer

In [56]:
# Create a copy of the DataFrame to work with
clean_df = df.copy()

# 1. Fill missing Quantity values
clean_df['Quantity'] = clean_df.groupby('Category')['Quantity'].transform(lambda x: x.fillna(x.median()))
print("DataFrame after Filling Missing Quantity with Category Median:\n", clean_df[['CustomerID', 'Category', 'Quantity']].head())

DataFrame after Filling Missing Quantity with Category Median:
    CustomerID     Category  Quantity
0        1001  Electronics       1.0
1        1001  Electronics       2.0
2        1002       Sports       1.0
3        1003         Home       1.0
4        1003         Home       1.0

In [57]:
# 2. Fill missing Price values
clean_df['Price'] = clean_df.groupby('Category')['Price'].transform(lambda x: x.fillna(x.mean()))
print("\nDataFrame after Filling Missing Price with Category Mean:\n", clean_df[['CustomerID', 'Category', 'Price']].head())

DataFrame after Filling Missing Price with Category Mean:
    CustomerID     Category    Price
0        1001  Electronics  1200.50
1        1001  Electronics    89.99
2        1002       Sports    35.50
3        1003         Home   149.99
4        1003         Home   299.95

In [58]:
# 3. Create TotalAmount column
clean_df['TotalAmount'] = clean_df['Price'] * clean_df['Quantity']
print("\nDataFrame with TotalAmount column:\n", clean_df[['CustomerID', 'Category', 'Price', 'Quantity', 'TotalAmount']].head())

DataFrame with TotalAmount column:
    CustomerID     Category    Price  Quantity  TotalAmount
0        1001  Electronics  1200.50       1.0      1200.50
1        1001  Electronics    89.99       2.0       179.98
2        1002       Sports    35.50       1.0        35.50
3        1003         Home   149.99       1.0       149.99
4        1003         Home   299.95       1.0       299.95

In [59]:
# 4. Convert PurchaseDate to datetime
clean_df['PurchaseDate'] = pd.to_datetime(clean_df['PurchaseDate'])
print("\nDataFrame with PurchaseDate in datetime format:\n", clean_df[['CustomerID', 'PurchaseDate']].head())

DataFrame with PurchaseDate in datetime format:
    CustomerID PurchaseDate
0        1001   2024-03-05
1        1001   2024-02-15
2        1002   2024-03-10
3        1003   2024-03-07
4        1003   2024-03-15

In [63]:
# 5. Create PurchaseMonth and PurchaseYear columns
clean_df['PurchaseMonth'] = clean_df['PurchaseDate'].dt.month
clean_df['PurchaseYear'] = clean_df['PurchaseDate'].dt.year
print("\nDataFrame with PurchaseMonth and PurchaseYear columns:\n", clean_df[['CustomerID', 'PurchaseDate', 'PurchaseMonth', 'PurchaseYear']].head())

DataFrame with PurchaseMonth and PurchaseYear columns:
    CustomerID PurchaseDate  PurchaseMonth  PurchaseYear
0        1001   2024-03-05              3          2024
1        1001   2024-02-15              2          2024
2        1002   2024-03-10              3          2024
3        1003   2024-03-07              3          2024
4        1003   2024-03-15              3          2024

In [62]:
# 6. Create CustomerSpend DataFrame
customer_spend = clean_df.groupby('CustomerID')['TotalAmount'].sum().reset_index()
customer_spend.columns = ['CustomerID', 'CustomerSpend']
print("\nCustomerSpend DataFrame:\n", customer_spend.head())

CustomerSpend DataFrame:
    CustomerID  CustomerSpend
0        1001        1380.48
1        1002          35.50
2        1003         699.93
3        1004         599.99
4        1005         219.94

## Bonus Challenge (10 extra points)

Analyze the purchasing patterns of customers based on demographic factors:

1. For each age group, determine the most popular product category (by number of purchases)
2. For each income level ('High', 'Medium', 'Low'), calculate the average spend per purchase
3. Compare spending patterns between male and female customers across different product categories
4. Identify which regions have the highest average purchase amounts

In [66]:
# 1. Most popular product category by age group
popular_category_by_age = df.groupby(['AgeGroup', 'Category']).size().reset_index(name='PurchaseCount')
popular_category_by_age = popular_category_by_age.loc[popular_category_by_age.groupby('AgeGroup')['PurchaseCount'].idxmax()]
print("\nMost Popular Product Category by Age Group:\n", popular_category_by_age)

Most Popular Product Category by Age Group:
        AgeGroup     Category  PurchaseCount
3         Young  Electronics              9
17  Middle-aged  Electronics              8
29       Senior        Books              3

<ipython-input-66-51182346b2f7>:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  popular_category_by_age = df.groupby(['AgeGroup', 'Category']).size().reset_index(name='PurchaseCount')
<ipython-input-66-51182346b2f7>:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  popular_category_by_age = popular_category_by_age.loc[popular_category_by_age.groupby('AgeGroup')['PurchaseCount'].idxmax()]

In [72]:
# 2. Average spend per purchase by income level
avg_spend_per_purchase = clean_df.groupby('CustomerValue')['TotalAmount'].mean().reset_index()
avg_spend_per_purchase.columns = ['CustomerValue', 'AvgSpendPerPurchase']

<ipython-input-72-ae01907690e8>:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_spend_per_purchase = clean_df.groupby('CustomerValue')['TotalAmount'].mean().reset_index()

In [76]:
# 3. Spending patterns by gender across product categories
spending_patterns_by_gender = clean_df.groupby(['Gender', 'Category'])['TotalAmount'].sum().reset_index()
print("\nSpending Patterns by Gender and Product Category:\n", spending_patterns_by_gender)

Spending Patterns by Gender and Product Category:
     Gender      Category  TotalAmount
0   Female         Books      1220.00
1   Female   Electronics      1899.37
2   Female     Furniture       899.99
3   Female        Health       534.99
4   Female          Home       749.93
5   Female          Pets       175.00
6   Female  Professional       975.00
7   Female      Services       698.00
8   Female      Software       274.99
9   Female        Sports       156.00
10    Male   Accessories       350.00
11    Male         Books       991.50
12    Male      Clothing       599.99
13    Male   Electronics      4697.90
14    Male     Furniture      2497.99
15    Male        Health       219.95
16    Male          Home       549.45
17    Male        Office       125.00
18    Male      Services       848.00
19    Male      Software      2277.99
20    Male        Sports       399.99
21    Male        Travel       399.00

In [79]:
# 4. Regions with highest average purchase amounts
avg_purchase_amount_by_region = clean_df.groupby('Region')['TotalAmount'].mean().reset_index()
avg_purchase_amount_by_region.columns = ['Region', 'AvgPurchaseAmount']
avg_purchase_amount_by_region = avg_purchase_amount_by_region.sort_values(by='AvgPurchaseAmount', ascending=False)
print("\nRegions with Highest Average Purchase Amounts:\n", avg_purchase_amount_by_region)

Regions with Highest Average Purchase Amounts:
     Region  AvgPurchaseAmount
1     East         495.245000
3    South         466.770000
0  Central         378.613333
2    North         277.048889
4     West         216.216364

## Summary

In this assignment, you've practiced various techniques for indexing, selecting, and filtering data in Pandas, as well as identifying and handling missing values. These skills are essential for any data analysis project and form the foundation for more advanced data manipulation operations.

Summarize what you've learned from this assignment and how you might apply these techniques in future data analysis tasks.

*Your summary here*